<tr>
  <td class="gravatar">
    <a href="<%= user_path(current_user) %>">
    <%= gravatar_for current_user, :size => 60 %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
  </td>
  <td class="post">
    <span class="title"><%= feed_item.title %></span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <span>
      <% if current_user?(feed_item.user) %>
        <%= link_to "delete", feed_item, :method => :delete,
                                         :confirm => "You sure?",
                                         :title => feed_item.title %>
    </span>
      <% end %>
  </td>
</tr>