<tr>
  <td class="post">
    <span class="title"><%= link_to post.title, post %></span>
    <span class="content"><%= wrap(post.content) %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
    <a href="<%= post_path(post) %>">
      <span class="stat">
        <%= pluralize(post.comments.count, "comment") %>
      </span>
    </a>
    <% if current_user?(post.user) %>
    <span>
      <%= link_to "edit",   edit_post_path(post) %>
      <%= link_to "delete", post, :method => :destroy,
                                  :confirm => "You sure?",
                                  :title => post.title %>
    </span>
    <% end %>
  </td>
</tr>