<table class="front" summary="The Post">
  <tr>
    <td class="main">
      <table class="posts" summary="User posts">
          <%= render @post %>
      </table>
     <% unless @post.comments.empty? %>
        <table class="comments" summary="Post comments">
          <%= render :partial => 'comments/comment',
                     :collection => @post.comments %>
        </table>
      <% end %>
      <%= render 'shared/comment_post_form' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info', :locals => { @user => @post.user } %>
      <%= render 'shared/stats', :locals => { @user => @post.user } %>
    </td>
  </tr>
</table>